body {
	margin: 0;
	font-family: Helvetica;
}
#screenshot {
	height: 600px;
	width: 1000px;
	padding-top: 30px;
}
#container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}